<div id = "container"><h1> Shoppy Shopperson</h1>
<form method = "POST" action = "">
		List Name: <input type = "text" name = "listName"><br><br>
		Created By: <input type = "text" name = "createName"><br>
		<br><input type = "submit" value = "Create New Grocery List">
		<br><br><br>
</form>

<a href="/list">All Lists</a> |
<a href="/list/create">Create a New List</a>
</div>