<div class = "smallcover" style= "background-image: url(img/covers/sponsors.jpg)">

<div class = "title">Contact</div>

</div><div class = "container">

<div style = "text-align:center; font-size:20px;">
Jonathan Marmor<br>
jmarmor@gmail.com<br>
@jonathanmarmor

<br><br>
</div>


</div>
