<div class = "cover" style= "background-image: url(img/covers/home.jpg)">
<p class = "title"> At Monthly Music Hackathon NYC, musicians, programmers, artists, scientists, composers, hardware tinkerers, and others spend the last Saturday of each month hacking together projects exploring music.

</p>
</div>
<div class = "container">

</div>
</div>