
		<div id = "intro" style="position: absolute; z-index: -1;">
		</div>
		<div id = "container">
		<a href = "/home"><img src = "img/logos/bluehackathon.png"></a><br>
				<div id = "smaller">Welcome to</div>
				<div id = "bigger"> Monthly Music Hackathon</div>
				<div id = "about">A monthly all-day event for musicians and engineers to create new music-related projects.</div>


<form action="/home">
    <input type="submit" value="Enter" id = "enterButton">
</form>


		</div>
		<script src="js/three.min.js"></script>

		<script src="js/Projector.js"></script>
		<script src="js/CanvasRenderer.js"></script>

		<script src = "js/external.js"></script>
		

