<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/custom.css' />
    <link rel='stylesheet' href='/css/forms.css' />


    <title>{{title}}</title>
  </head>
  <body>

  	<!--- loader --> 

  	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Monthly Music Hackathon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right">
      	<li><a href ="/about">About</a></li>
      	<li><a href = "/rsvp">RSVP</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/submit"> Submit a Hack!</a></li>
        <li><a href="http://monthlymusichackathon.us5.list-manage1.com/subscribe?u=498e6061a6f7a0ca8bf5da9f8&id=30b00385af" id = "box">Subscribe to Mailing List</a></li>

        

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

    {{{body}}}


    <footer class="footer">
      <div class="container">
      	<div class = "col-md-6 text-right">
      		<h4><b>Spotify</b></h4>
      		<br>
      		45 W 18th St<br>
      		New York<br>
      		NY 10018

      		<br><br>
      		Email: jonathanmarmor@gmail.com
      	</div>

        <div class="col-md-6 text-left">
        	<h4><b>Follow Us</b></h4><br>
        	<a href = "" class = "socicon-twitter"></a>
        	<a href = "" class = "socicon-facebook"></a>
        	<a href = "" class = "socicon-instagram"></a>


      </div>
        <script src = "js/jquery.js"></script>
        <script src = "js/jquery.easing.min.js"></script>
        <script src="js/scrolling.js"></script>
        <script src = "js/collapsingQuestions.js"></script>
   



    </footer>
  </body>
</html>
