<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">
        <link rel='stylesheet' href='/css/landing.css' />

    <title>{{title}}</title>
  </head>
  <body>


    {{{body}}}


  </body>
</html>
