<div class = "cover" style= "background-image: url(/img/covers/sponsors.jpg)">
<p class = "title"> Some of Our Sponsors</p>
<p class = "subtitle"> Without the help of our sponsors, this hackathon would not be possible</p>

</div>
<div class = "container">
{{#each sponsors}}
<div class = "col-md-4">
<img class = "logoimg" src = "img/logos/{{this.name}}.png">
</div>
{{/each}}

</div>
</div>
