<h3>Bird watching page</h3>
<img src = "./img/bird3.png" width = "400px">

<form method="POST" action="">
	Only show birds that have been seen <font color = "yellow">this many times: </font><br><input name="min" type="text" value = "{{min}}">
	<div><input name = "add" type="submit" value = "{{add}}"></div>
</form>

<a href = "{{birdUrl}}"> (Back to Birds) </a>